h1 {
  text-align: center;
  text-decoration: underline;
}
body {
  background-color: #c4baba;
  background-repeat: no-repeat;
  background-image: url(kenyan\ flag.jpeg);
  background-position: right top;
  margin: auto;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  padding: 75px 50px 50px 75px;
}
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: #436b1e;
}
button {
  background-color: rgb(89, 46, 46);
  box-shadow: 2px 0px 12px 0px;
  padding: 15px;
  border-radius: 70px;
  font-size: medium;
  color: white;
}
button:hover {
  background-color: brown;
  cursor: pointer;
  transition: 0ms;
}
h5,
h2,
h3 {
  text-align: center;
}
h2 {
  text-align: center;
}
